@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0; 
     font-family: 'Montserrat', sans-serif;  
 }

 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }
 
 html {
   box-sizing: border-box;
 
   /* Set font size for easy rem calculations
    * default document font size = 16px, 1rem = 16px, 100% = 16px
    * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
   */
   font-size: 62.5%;
   scroll-behavior: smooth;
 }
 
 
 li, a {
     font-family: 'Montserrat', sans-serif; 
     font-weight: 500;
     font-size: 18px;
     color: rgb(0, 0, 0);
     text-decoration: none; 
 }

 .top {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     padding: 20px 5%; 
     box-sizing: border-box;
     font-color: rgba(0, 0, 0, 0.363);
 }
    
 

 .nav-list {
     list-style: none;
 }

 .nav-list li {
      display: inline-block;
      padding: 0px 20px;
      
 }

 .nav-list li a {
    transition: all 0.3s ease 0s; 
    color: rgb(0, 0, 0);
 }

 .nav-list li a:hover {
     color: blue;
 }
 
 .header .nav-list {
     
 }
 
 .header {
    background-image: url("https://wallpaperaccess.com/full/3150434.jpg"); 
    height: 650px;
    max-width: 100%;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
     
 }

 .welcome-section  {
     text-align: center;
     padding-top: 70px;
     margin: auto;
     width: 50%;
     font-size: 22px;
     font-family: 'Montserrat', sans-serif;
     color: rgb(0, 0, 0);
     font-weight: 800;
 }

 #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #ECEAE0;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid black;
 }

.project-title {
    text-align: center;
    color: white:
}

 #about h2 {
     font-size: 3.5rem;
 }

 #about p {
     font-size: 3rem;
 }

 #projects .project-title {
     text-align: center;
     border: 0px solid black;
     width: 100%;
     margin: 30px;
     padding: 30px;
     font-size: 40px;
     font-family: 'Montserrat', sans-serif;
     color: white;
 }

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    background-color: #222930;
}

.projects-flex:hover {
    transform: translate(30px, 15px);
    transition-duration: 300ms;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 8px 8px 13px 7px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 8px 8px 13px 7px rgba(0,0,0,0);  
}

.projects-flex {
    background-size: cover;
}

.projects-flex, .project-image {
    background-size: contain;
    width: 600px;
    height: 400px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact-section { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section-header {
    padding: 30px;
}

.contact-details {
    font-size: 22px;
    padding: 10px;
  }

  .contact-section {
      background-color: #ECEAE0;
  }
  
.contact-details:hover {
    transform: translateY(-4px);
    transition: 0.3s;
    background-color: rgba(10, 54, 150, 0.795);
    color: white;
  }

  #call:hover {
      background-color: green;

  }


  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }
 

